@use "../abstract/colors";
@use "../abstract/functions";
.nav-success {
  background-color: #777 !important;
}
.detail-cours {
  padding: 150px 0 0 0;
  background-color: #777;
  p {
    padding: 14px 10px 0 10px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 32px;
    color: #e6e6e6;
  }
  h1 {
    width: 712px;
    @include functions.font("Rubik", normal, 700, 48px, 64px, colors.$bg-white);
  }
  .detail-cours__icons {
    b {
      @include functions.font(
        "Rubik",
        normal,
        500,
        24px,
        32px,
        colors.$bg-white
      );
    }
    span {
      font-family: "Montserrat";
      font-size: 14px;
      line-height: 24px;
      color: #e6e6e6;
    }
  }
  .detail-cours__all {
    padding: 44px 0 40px 0;
    .kv {
      width: 50px;
      height: 50px;
      background: #aaaaaa;
      border-radius: 50%;
    }
    h6 {
      padding: 3px 0 0 10px;
      @include functions.font(
        "Rubik",
        normal,
        500,
        24px,
        32px,
        colors.$bg-white
      );
    }
  }
  .detail-cours__btns {
    padding: 0 0 80px 0;
    .detail-cours__btn-1 {
      padding: 12px 32px;
      background: colors.$bg-danger;
      border-radius: 8px;
      font-family: "Montserrat";
      font-size: 16px;
      line-height: 32px;
      color: colors.$bg-white;
    }
    .detail-cours__btn-2 {
      padding: 12px 32px;
      background: #fff5f9;
      border-radius: 8px;
      font-family: "Montserrat";
      font-size: 16px;
      line-height: 32px;
      color: colors.$bg-danger;
    }
  }
}
.grid-sestim {
  display: grid;
  grid-template-columns: 1fr auto;
  .grid-main {
    .grid-main__texts {
      padding: 96px 0 0 0;
      h1 {
        width: 70%;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #1c3554;
      }
      p {
        width: 80%;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #808080;
      }
    }
    .grid-main__danger {
      padding: 96px 0 0px 0;
      h3 {
        padding: 0 0 40px 0;
        width: 70%;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #1c3554;
      }
      .grid-main__row {
        padding: 40px 0 40px 0;
        width: 80%;
        background: #fff5f9;
        border-radius: 8px;
        .grid-main__flex {
          p {
            width: 100%;
            margin-top: 20px;
            font-family: "Montserrat";
            font-size: 14px;
            line-height: 24px;
            color: #1c3554;
          }
        }
      }
    }
    .grid-main__danger-2 {
      padding: 96px 0 40px 0;
      h3 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #1c3554;
      }
      .grid-main__row-2 {
        width: 70%;
        background: #fff5f9;
        border-radius: 5px;
        padding: 40px 0 40px 0;

        .grid-main__col-2 {
          p {
            padding: 10px 0 0 0;
            font-family: "Montserrat";
            font-size: 14px;
            line-height: 24px;
            color: #1c3554;
          }
        }
      }
    }
  }
  .grid-main__coruseles {
    .grid-main__texts {
      h1 {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #1c3554;
      }
      h6 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        color: #1c3554;
      }
    }
    .grid-main__bg {
      background: #fff5f9 !important;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      color: #1c3554;
    }
  }
  .grid-main__btn {
    background: #f72585;
    border-radius: 8px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
  }
}
